/*
 * RangeMenu Styles
 */

.ux-rangemenu-icon {
    margin-top: 0;
}

.ux-rangemenu-gt {
    background-image: url(grid/greater_than.png) !important;
}

.ux-rangemenu-lt {
    background-image: url(grid/less_than.png) !important;
}

.ux-rangemenu-eq {
    background-image: url(grid/equals.png) !important;
}

/*
 * GridFilters Styles
 */

.ux-filtered-column {
    font-style: italic;
    font-weight: bold;
}

.ux-gridfilter-text-icon {
    background-image: url(grid/find.png) !important;
}
