<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>协翼资金管理</title>
  <link href="/assets/ext-all.css" rel="stylesheet" type="text/css" />
  <script src="/assets/ext-all.js" type="text/javascript"></script>
  <script src="/assets/ext-lang-zh_CN.js" type="text/javascript"></script>
  <link href="/assets/ext-ux-all.css" rel="stylesheet" type="text/css" />
  <script src="/assets/ext-ux-all.js", type="text/javascript"></script>
  <script src="/assets/ext-ux-lang-zh_CN.js" type="text/javascript"></script>
  <%= stylesheet_link_tag "application", :media => 'all', :debug => false %>
  <%= javascript_include_tag "application", :debug => false %>
</head>
<body>
<%= yield %>
</body>
</html>
